# Santander Dev Week 2023 (ETL com Python)

### Estarei utilizando uma base de dados de score de crédito bancário, disponível no [Kaggle](https://www.kaggle.com/datasets/kapturovalexander/bank-credit-scoring/)

## **E**xtract

Extraímos as informações dos 10 primeiros usuários cadastrados na base

In [7]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

In [19]:

df = pd.read_csv('/content/drive/MyDrive/DIO/bank.csv',sep=';')
users = df.head(10)
users

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
5,35,management,single,tertiary,no,747,no,no,cellular,23,feb,141,2,176,3,failure,no
6,36,self-employed,married,tertiary,no,307,yes,no,cellular,14,may,341,1,330,2,other,no
7,39,technician,married,secondary,no,147,yes,no,cellular,6,may,151,2,-1,0,unknown,no
8,41,entrepreneur,married,tertiary,no,221,yes,no,unknown,14,may,57,2,-1,0,unknown,no
9,43,services,married,primary,no,-88,yes,yes,cellular,17,apr,313,1,147,2,failure,no

Realizamos um pré-processamento, todos os usuários que tiverem algum tipo de emprego receberão "employed" no lugar do nome de seus empregos.

In [20]:
users.job[users['job'] != 'unemployed'] = 'employed'
users

<ipython-input-20-94f2b6748b8c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  users.job[users['job'] != 'unemployed'] = 'employed'

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,employed,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,employed,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,employed,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,employed,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
5,35,employed,single,tertiary,no,747,no,no,cellular,23,feb,141,2,176,3,failure,no
6,36,employed,married,tertiary,no,307,yes,no,cellular,14,may,341,1,330,2,other,no
7,39,employed,married,secondary,no,147,yes,no,cellular,6,may,151,2,-1,0,unknown,no
8,41,employed,married,tertiary,no,221,yes,no,unknown,14,may,57,2,-1,0,unknown,no
9,43,employed,married,primary,no,-88,yes,yes,cellular,17,apr,313,1,147,2,failure,no

## **T**ransform

Utilize a API do OpenAI GPT-4 para gerar uma mensagem de marketing personalizada para cada usuário. A ideia é montar uma sugestão de investimentos de acordo com as informações obtidas. Para esse caso em específico, foram selecionadas as informações de saldo, emprego e estado civil.

In [14]:
!pip install openai

Collecting openai
  Downloading openai-0.28.1-py3-none-any.whl (76 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 77.0/77.0 kB 2.0 MB/s eta 0:00:00
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.10/dist-packages (from openai) (2.31.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from openai) (4.66.1)
Requirement already satisfied: aiohttp in /usr/local/lib/python3.10/dist-packages (from openai) (3.8.6)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai) (3.3.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai) (2.0.6)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai) (2023.7.22)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai) (23.1.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai) (6.0.4)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai) (4.0.3)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai) (1.9.2)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai) (1.4.0)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai) (1.3.1)
Installing collected packages: openai
Successfully installed openai-0.28.1

In [15]:
# Documentação Oficial da API OpenAI: https://platform.openai.com/docs/api-reference/introduction
# Informações sobre o Período Gratuito: https://help.openai.com/en/articles/4936830

# Para gerar uma API Key:
# 1. Crie uma conta na OpenAI
# 2. Acesse a seção "API Keys"
# 3. Clique em "Create API Key"
# Link direto: https://platform.openai.com/account/api-keys

# Substitua o texto TODO por sua API Key da OpenAI, ela será salva como uma variável de ambiente.
openai_api_key = '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'

In [22]:
informations ={
    'job':{'unemployed':'não tem emprego','employed':'tem emprego'},
    'marital':{'married':'casado','single':'solteiro'}
}

In [36]:
import openai

openai.api_key = openai_api_key

def generate_ai_news(user):
  completion = openai.ChatCompletion.create(
    model="gpt-3.5-turbo-0613",
    messages=[
      {
          "role": "system",
          "content": "Você é um especialista em marketing bancário."
      },
      {
          "role": "user",
          "content": f"Crie uma mensagem com um plano de investimento para o usuário de acordo com as seguintes informações: Seu saldo atual é de R${user['balance']}, ele {informations['job'][user['job']]} e é {informations['marital'][user['marital']]}. (máx 1000 caracteres)"
      }
    ]
  )
  return completion.choices[0].message.content.strip('\"')
recommendations = []
for _,user in users.iterrows():
  recommendations.append(generate_ai_news(user))

## **L**oad

Atualizamos o dataframe com a coluna "Recommendations" contendo as recomendações do plano de investimento gerado.

In [37]:
users['recommendations'] = recommendations
users

<ipython-input-37-74c3d30a2ce3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  users['recommendations'] = recommendations

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y,recommendations
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no,"Caro cliente, entendemos que você busca um pla..."
1,33,employed,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no,"Caro cliente, como especialista em marketing b..."
2,35,employed,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no,"Olá! Como especialista em marketing bancário, ..."
3,30,employed,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no,"Olá! Como especialista em marketing bancário, ..."
4,59,employed,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no,"Caro cliente, cumprimentamos você e agradecemo..."
5,35,employed,single,tertiary,no,747,no,no,cellular,23,feb,141,2,176,3,failure,no,"Olá! Como especialista em marketing bancário, ..."
6,36,employed,married,tertiary,no,307,yes,no,cellular,14,may,341,1,330,2,other,no,"Caro cliente, como especialista em marketing b..."
7,39,employed,married,secondary,no,147,yes,no,cellular,6,may,151,2,-1,0,unknown,no,"Prezado cliente,\n\nParabéns por manter um sal..."
8,41,employed,married,tertiary,no,221,yes,no,unknown,14,may,57,2,-1,0,unknown,no,"Olá, cliente! Como especialista em marketing b..."
9,43,employed,married,primary,no,-88,yes,yes,cellular,17,apr,313,1,147,2,failure,no,"Olá! Como especialista em marketing bancário, ..."